<h1> Here all the students are listed: </h1>

<% for student in @students %>
  <p> Name: <%= student.pretty_name() %> </p>
  <p> <a href="/students/<%= student.id%>">Show Student Info</a></p>
<% end %>
