<form method="post" action="/students">

  <label for="first_name">First name:</label>
  <input id="first_name" type="text" name="first_name"/>
  <br>

  <label for="last_name">Last name:</label>
  <input id="last_name" type="text" name="last_name"/>
  <br>

  <label for="house_select">Select house:</label>
  <select id="house_select" type="text" name="house_id">
      <% for house in @houses %>
      <option value=<%=house.id%>><%= house.name%></option>
      <% end %>

  </select>
  <br>

  <label for="age">Age:</label>
  <input id="age" type="number" name="age"/>
  <br>

  <input type="submit" value="Enrol Student"/>

</form>
